<div class="questions">
    <%= form_tag("/main/post_answers_1", method: "post", class: "form-group") do %>
        <input type="hidden" name="id" value="<%= @answer_set.id %>">

        <p>
            I am a
            <select name="gender">
                <option>male</option>
                <option>female</option>
            </select>, age <%= text_field_tag :age %>.
        </p>

        <p>
            I am
            <select name="marital_status">
                <option value="single">single</option>
                <option value="married">married</option>
            </select>.
        </p>

        <p>
            I getting insurance for
            <%= select_tag("scope", options_for_select(
                    [['Individual', '1'],
                     ['Family', '2']], '1')) %>
        </p>

        <p>
            I
            <select name="smoker">
                <option value="0">don't smoke</option>
                <option value="1">smoke</option>
            </select>.
        </p>

        <p>
            <%= submit_tag "Continue", class: "btn btn-default btn-lg" %>
        </p>
    <% end %>
</div>
 