<!DOCTYPE html>
<html>
<head>
    <title>HealthcareX</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
</head>
<body>
    <%= render '/header' %>
<div class="container">

    <%= yield %>

</div>
    <%= render '/footer' %>
</body>
</html>
